@import url('normalize.css');
@import url('reset.css');

:root {

  /* Layout */
  --base-unit: 27px;
  --container: 1272px;
  /* Color styles */
  --light-gray: rgba(235, 235, 235, 1);
  --medium-gray: rgba(168, 168, 168, 1);
  --black: rgba(44, 44, 44, 1);
  --dark-gray: rgba(110, 110, 110, 1);
  --primary: rgba(154, 199, 91, 1);
  --secondary: rgba(85, 118, 44, 1);
  --white: rgba(255, 255, 255, 1);
  --banner: rgba(45, 62, 79, 1);

  /* Text-size styles */
  --body--ff: "Open Sans", snas-serif;
  --body: 16px;
  --banner--tt: calc(var(--base-unit) * 2);
  --section--tt: calc(var(--body) * 2);
  --content--tt: calc(var(--body) * 1.5);
  --section--desc: calc(var(--body) * 1.125);
  --body--link: 16px;
}

/* Layout */ 
.container {
  width: var(--container);
  margin: 0 auto;
}
.big_pd {
  padding: calc(var(--base-unit) * 3) 0;
}
.big_top_pd {
  padding-top: calc(var(--base-unit) * 3);
}
.hidden {
  position: absolute;
  left: 0;
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* typography */

body {
  /* 
  font-size: var(--body);
  line-height: var(--base-unit); 
  font-family: var(--body--ff);
  */
  font: var(--body)/var(--base-unit) var(--body--ff);
}
.banner_tt {
  font-size: var(--banner--tt); /* 54px */
  line-height: var(--banner--tt); 
  color: #3A99D8;
  text-transform: uppercase;
}
.section_tt {
  font-size: var(--section--tt);
  font-weight: 300;
}
.content_tt {
  font-size: var(--content--tt);
}

.body {
  font-size: var(--body);
  line-height: var(--base-unit);
  color: var(--black);
}

.link {
  text-decoration: underline;
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  height: 39px;
  padding: 0 20px;
  border-radius: 3px;
  font-size: calc(var(--body) * 0.875);
  font-weight: 700;
  color: var(--dark-gray);
  background: var(--light-gray);
  border-radius: 3px;
  text-transform: uppercase;
}


.btn.big {
  height: calc(var(--base-unit) * 2);
  padding: 0 30px;
}

/* colors */

.primary {
  color: var(--primary);
}

.primary_bg {
  background: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.banner_bg {
  background: var(--banner);
}




/* Form */
form {
  width: 350px;
  margin: 0 auto;
}
.field {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  background: var(--white);
  height: calc(var(--base-unit) * 2);
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--blacK);
  font-size: var(--body);
  border-radius: 3px;
}

.field.field:focus-within {
  box-shadow: inset 0 0 16px rgba(64, 0, 255, 0.855);
}

.field input {
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
}

.field span {
  color: var(--medium-gray);
}

.field input::placeholder {
  color: var(--medium-gray);
}

.button {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height:calc(var(--base-unit) * 2);
  font-size: calc(var(--body) * 1.125);
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid var(--white);
  color: var(--white);
  border-radius: 3px;
}


/* HEADER */

header {
  background: var(--white);
  padding: var(--base-unit) 0;
  box-shadow: 0 1px 5px rgba(0,0,0,0.5);
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  display: block;
  background: url('/images/logo.png') no-repeat center center/cover;
  width: 161px;
  height: 54px;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

header nab ul li:first-child {
  margin-right: 20px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  gap: 10px;
  color: var(--light-gray);
}

header nab ul li:first-child a {
  color: var(--black);
}