@import url('normalize.css');
@import url('reset.css');

:root {

  /* Layout */
  --base-unit: 27px;
  --container: 1272px;
  /* Color styles */
  --light-gray: rgba(235, 235, 235, 1);
  --medium-gray: rgba(168, 168, 168, 1);
  --black: rgba(44, 44, 44, 1);
  --dark-gray: rgba(110, 110, 110, 1);
  --primary: rgba(154, 199, 91, 1);
  --secondary: rgba(85, 118, 44, 1);
  --white: rgba(255, 255, 255, 1);
  --banner: rgba(45, 62, 79, 1);

  /* Text-size styles */
  --body--ff: "Open Sans", snas-serif;
  --body: 16px;
  --banner--tt: calc(var(--base-unit) * 2);
  --section--tt: calc(var(--body) * 2);
  --content--tt: calc(var(--body) * 1.5);
  --section--desc: calc(var(--body) * 1.125);
  --body--link: 16px;
}

/* Layout */ 
.big_pd {
  padding: calc(var(--base-unit) * 3) 0;
}
.big_top_pd {
  padding-top: calc(var(--base-unit) * 3);
}
.hidden {
  position: absolute;
  left: 0;
  top: -9999999em;
  width: 0;
  height: 0;
  overflow: hidden;
}

/* typography */

body {
  /* 
  font-size: var(--body);
  line-height: var(--base-unit); 
  font-family: var(--body--ff);
  */
  font: var(--body)/var(--base-unit) var(--body--ff);
}
.banner_tt {
  font-size: var(--banner--tt); /* 54px */
  line-height: var(--banner--tt); 
}
.section_tt {
  font-size: var(--section--tt);
}
.content_tt {
  font-size: var(--content--tt);
}

.link {
  text-decoration: underline;
}

/* colors */

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.banner_bg {
  background: var(--banner);
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  height: 39px;
  padding: 0 20px;
  border-radius: 3px;
  font-size: calc(var(--body) * 0.875);
  font-weight: 700;
  color: var(--dark-gray);
  background: var(--light-gray);
}


/* Form */
form {
  width: 350px;
  margin: 0 auto;
}
.field input {
  background: var(--white);
}

