.banner .section_tt {
  color: var(--white);
}

.banner {
  display: flex;
  flex-direction: column;
  gap: calc(var(--base-unit) * 2);
  align-items: center;
}

.banner .titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--base-unit);
}