.signform {
  display: flex;
  flex-direction: column;
  gap: 10px;

  position: relative;
}

.feedback {
  position: absolute;
  background-color: var(--white);
  border-radius: 3px;
  padding: 20px;
  color: #F30000;
  left: calc(100% + 58px);
  top: 0;
  width: 260px;
}

.feedback:before {
  content: '';
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;
  border-width: 7px 9px;
  border-style: solid;
  border-color: transparent var(--white) transparent transparent;
}

.feedback p + p {
  margin-top: 27px;
}